/* src/components/AppointmentList.css */

.appointment-list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .appointment-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .appointment-list-header h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .appointment-list-header span {
    color: #888;
  }
  