/* src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure the App component takes the full height of the viewport */
  display: flex;
  flex-direction: column;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.peakpx.com%2Fen%2Fhd-wallpaper-desktop-awiur&psig=AOvVaw0mfDLefpXNBixGtfpiim0k&ust=1720094517277000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCMCM-8jpiocDFQAAAAAdAAAAABAJ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  /* Styles from #root */
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
